- var name = name
html 
    head
    if (name)
        title= title
    else 
        title= 'Please login'
    body
        if (name)
            h1 Welcome #{name}!
        else
            h1 Please login!